


.inlinelogo {display: inline-block; text-align: left;   position: absolute;
 
  right: 76px; left: 70px; color: #FCEDDB; }

.inlineblock1 {display: inline-block; text-align: left;   position: absolute;
  top: 78px;
    right: 50px; color: #FCEDDB; font-size: 25px;}
 

.inlineblock2 {display: inline-block; text-align: left;   position: absolute;
    top: 78px;
    right: 200px; color: #FCEDDB; font-size: 25px;}

.inlineblock3 {display: inline-block; text-align: left;   position: absolute;
      top: 78px;
      right: 300px; color: #FCEDDB; font-size: 25px;}
      
.inlineblock4 {display: inline-block; text-align: left;   position: absolute;
        top: 78px;
        right: 400px; color: #FCEDDB; font-size: 25px;}



.logo { width: 15%; padding: 1%;}

nav { width: 100%; padding: .5%; background-color: #EF4E34;    }

#topnav {  width: 50px;  }

#demo { color: #FCEDDB;}

.welcome { font-family: 'Oswald', sans-serif; }

.heroImg { width: 100%; padding: 18%; background-color: #EF4E34;
  background: url(Images/Hero\ Image.png);
  background-repeat: no-repeat;
  background-size: cover;

}
button {
  background-color: #014552; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
button {
  background-color: #014552; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
p { font-size:1vw; }

img {     max-width: 100%;
  height: auto;}


#content { width: 500px; margin: 0 auto; }



h1 {
    font-size: 2.5em; /* 40px/16=2.5em */
    color: whitesmoke;
    font-size:10vw;
  }
  
  .skills { background-color: black;     max-width: 100%;
    height: auto;display: block;}

 

  #skillsheading { color: #EF4E34; font-family: "Oswald"; text-align: right; font-size:8vw;  }
 


.skillBlocks {

align-self: center;

}



.square1 {   display: inline-block; /* the default for span */
  width: 300px;
  height: 200px;
  padding: 5px;  
  background-color: #E84547;
  color: white; 
  margin-left: 15%;
  scale: 1;
   
 }

 .square2 {   display: inline-block; /* the default for span */
  width: 300px;
  height: 200px;
  padding: 5px;  
  background-color: #E84547;
  color: white; 
  margin-left: 2%;
  margin-bottom: 3%;
  scale: 1;
 }

 .square3 {   display: inline-block; /* the default for span */
  width: 300px;
  height: 200px;
  padding: 5px;  
  background-color: #E84547;
  color: white; 
  margin-left: 2%;
  scale: 1;
 }


  .work { background-color: #EF4E34;  }
  
  #workheading { color: #FCEDDB; font-family: "Oswald"; font-size:8vw;}

  .card-deck { width: 1800px; align-items: center; padding: .5%; font-size:8vw;
  }


  
   .inlineblock {display: inline-block; left: 200px; color: #FCEDDB; ;}
   
   .card-title { 


   }
  footer { background-color: #EF4E34; display: block; text-align: end; letter-spacing: 2.5px; padding: 10px;  }
.footerimage {

display: block ; width: 8%; 

}

#footerline {

  size: cover; width: 10000px;
  
  }
  

@media only screen and (max-width: 600){ 
    }


    